<div
  [ngClass]="[
    'mx-auto',
    size === 'xs' ? 'max-w-xs' : '',
    size === 'sm' ? 'max-w-sm' : '',
    size === 'md' ? 'max-w-md' : '',
    size === 'lg' ? 'max-w-lg' : '',
    size === 'xl' ? 'max-w-xl' : '',
    size === '2xl' ? 'max-w-2xl' : '',
    size === '3xl' ? 'max-w-3xl' : '',
    size === '4xl' ? 'max-w-4xl' : '',
    size === '5xl' ? 'max-w-5xl' : '',
    size === '6xl' ? 'max-w-6xl' : '',
    size === '7xl' ? 'max-w-7xl' : '',
    size === 'full' ? 'max-w-full' : '',
    padding ? 'px-' + padding : '',
  ]"
>
  <ng-content></ng-content>
</div>
