<button
  [disabled]="disabled || loading"
  [type]="type"
  (click)="onClick($event)"
  [ngClass]="[
    baseClasses,
    sizeClasses,
    variantClasses,
    roundedClasses,
    disabled || loading ? disabledClasses : '',
    fullWidth ? 'w-full' : '',
    'focus:outline-none focus:ring-2 focus:ring-primary-500',
  ]"
  [attr.aria-label]="ariaLabel"
  [attr.data-testid]="dataTestId"
>
  <div *ngIf="loading" class="absolute inset-0 flex items-center justify-center">
    <div
      class="h-4 w-4 animate-spin rounded-full border-2 border-t-transparent"
      [ngClass]="loadingColorClasses"
    ></div>
  </div>

  <div [ngClass]="{ 'opacity-0': loading, 'flex items-center justify-center gap-2': true }">
    <ng-content select="[app-button-icon-left]"></ng-content>
    <ng-content></ng-content>
    <ng-content select="[app-button-icon-right]"></ng-content>
  </div>
</button>
